# PyDev
.project
.pydevproject
.settings/
debug/

# Compiled files
*.pyc

# Configuration files
*.swp
*.swo
-Mini*
.this_s*
.DS_Store
*-project.db
__pycache__/*
__pycache__
.gitignore.*
tags
Rabi_analysis.pdf
messages
manual/*.aux
manual/*.synctex.gz
pppCompiler/YtterbiumScan.auto.pp
config/PulsePrograms/YtterbiumScan2.pp
